.DS_Store

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/

.pytest_cache/
.coverage
.coverage.*
coverage.xml

*.log

.env

.ipynb_checkpoints/

data/raw/
data/processed/
data/.sklearn_cache/
models/

.dvc/cache/